html, body {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

.drawing-canvas {
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 1;
}

.pt {
  cursor: pointer;
}

.toright {
  display: flex;
  flex-direction: row;
}

